html, body {
	height: 100%;
}

body {
	background: url('rock-music.jpg') center;
	background-repeat: no-repeat;
	background-size: cover;
}

#visor {
	width: 185px;
}

.container {
	padding-top: 8%;
}

.container p {
	border: 1px solid black;
	height: 25px;
	background-color: white;
}

.calculadora {
	padding: 0;
	margin: 0 8%;
}

.btn-group {
	padding: 0;
	margin: 0;
}

button.btn.btn-default {
	width: 47px;
}